.root {
  opacity: 0.5;
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  align-items: flex-start;
  overflow: hidden;
}
.vector22 {
  position: absolute;
  left: 56.5226%;
  right: 6.3025%;
  top: 28.6301%;
  bottom: 25.0646%;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.vector23 {
  position: absolute;
  left: 35.6527%;
  right: 36.3032%;
  top: 75.3703%;
  bottom: 24.6297%;
  max-width: 100%;
  max-height: 100%;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.ellipse65 {
  position: absolute;
  left: 62.6099%;
  right: 13.0418%;
  top: 62.7612%;
  bottom: 12.8905%;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.ellipse66Stroke {
  position: absolute;
  left: 13.0435%;
  right: 62.6081%;
  top: 62.7612%;
  bottom: 12.8905%;
  overflow: visible;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.vector24 {
  position: absolute;
  left: 6.2424%;
  right: 43.7457%;
  top: 14.5879%;
  bottom: 22.9444%;
  overflow: visible;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.vector25 {
  position: absolute;
  left: 4.9998%;
  right: 84.5652%;
  top: 74.9354%;
  bottom: 25.0646%;
  max-width: 100%;
  max-height: 100%;
  overflow: visible;
}
.icon6 {
  width: 100%;
  height: 100%;
}
