.footer.footer {
  position: absolute;
  left: 0;
  top: 1829px;
}
.product.product {
  left: 16px;
  top: 0.1832px;
}
.rectangle344.rectangle344 {
  background-image:/* webpackIgnore: true */ url('/assets/rectangle3442.png');
}
.frame20.frame20 {
  left: 16px;
  top: 600.1832px;
}
.rectangle3442.rectangle3442 {
  background-image:/* webpackIgnore: true */ url('/assets/rectangle3443.png');
}
.frame24.frame24 {
  left: 16px;
  top: 1200.1832px;
}
.rectangle3443.rectangle3443 {
  background-image:/* webpackIgnore: true */ url('/assets/rectangle3444.png');
}
.frame18.frame18 {
  left: 16px;
  top: 300.1832px;
}
.rectangle3444.rectangle3444 {
  background-image:/* webpackIgnore: true */ url('/assets/rectangle3445.png');
}
.frame21.frame21 {
  left: 16px;
  top: 900.1832px;
}
.rectangle3445.rectangle3445 {
  background-image:/* webpackIgnore: true */ url('/assets/rectangle3446.png');
}
.frame17.frame17 {
  left: 193px;
  top: 0.1832px;
}
.rectangle3446.rectangle3446 {
  background-image:/* webpackIgnore: true */ url('/assets/rectangle3447.png');
}
._21WN {
  color: #000;
  font-size: 12px;
  line-height: 18px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 34px;
  height: 15px;
  flex-direction: column;
}
.frame22.frame22 {
  left: 193px;
  top: 600.1832px;
}
.rectangle3447.rectangle3447 {
  background-image:/* webpackIgnore: true */ url('/assets/rectangle3448.png');
}
._21WN2 {
  color: #000;
  font-size: 12px;
  line-height: 18px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 34px;
  height: 15px;
  flex-direction: column;
}
.frame25.frame25 {
  left: 193px;
  top: 1200.1832px;
}
.rectangle3448.rectangle3448 {
  background-image:/* webpackIgnore: true */ url('/assets/rectangle3449.png');
}
._21WN3 {
  color: #000;
  font-size: 12px;
  line-height: 18px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 34px;
  height: 15px;
  flex-direction: column;
}
.frame19.frame19 {
  left: 193px;
  top: 300.1832px;
}
.rectangle3449.rectangle3449 {
  background-image:/* webpackIgnore: true */ url('/assets/rectangle34410.png');
}
._21WN4 {
  color: #000;
  font-size: 12px;
  line-height: 18px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 34px;
  height: 15px;
  flex-direction: column;
}
.frame23.frame23 {
  left: 193px;
  top: 900.1832px;
}
.rectangle34410.rectangle34410 {
  background-image:/* webpackIgnore: true */ url('/assets/rectangle34411.png');
}
._21WN5 {
  color: #000;
  font-size: 12px;
  line-height: 18px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 34px;
  height: 15px;
  flex-direction: column;
}
.listview.listview {
  opacity: 0.5;
  left: 286px;
  top: 10.1062px;
  width: 20px;
  height: 20px;
}
.icon {
  width: 100%;
  height: 100%;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.down.down {
  opacity: 0.5;
  left: 244.6799px;
  top: 11.1062px;
  width: 16.07px;
  height: 16.07px;
}
.polygon1.polygon1 {
  left: 4.0175px;
  top: 4.9016px;
  width: 8.035px;
  height: 6.2669px;
}
.polygon1 {
  left: 4.0175px;
  top: 4.9016px;
  width: 8.035px;
  height: 6.2669px;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.filter.filter {
  left: 331px;
  top: 12.1062px;
  width: 20px;
  height: 20px;
}
.componentsIconFilter.componentsIconFilter {
  width: 20px;
  height: 20px;
}
.componentsIconFilter {
  width: 20px;
  height: 20px;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.frame242.frame242 {
  left: 119px;
  top: 52px;
}
._2021 {
  color: #333;
  font-size: 14px;
  line-height: 16px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.01em;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.frame252.frame252 {
  left: 17px;
  top: 52px;
}
.header.header {
  position: absolute;
  left: 0;
  top: 0;
}
.rectangle331.rectangle331 {
  background-color: #fff;
}
.root {
  position: relative;
  width: 375px;
  height: 2168px;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
}
.product2 {
  position: absolute;
  left: 0;
  top: 178px;
  width: 375px;
  height: 1600px;
  align-items: flex-start;
}
.filter2 {
  position: absolute;
  left: 0;
  top: 77px;
  width: 375px;
  height: 90px;
  align-items: flex-start;
}
.filter3 {
  position: absolute;
  left: 0;
  top: 0;
  width: 375px;
  height: 40px;
  align-items: flex-start;
  overflow: hidden;
}
.rectangle345 {
  opacity: 0.1;
  position: absolute;
  left: 197.2513px;
  top: 1.8938px;
  width: 72.7487px;
  height: 36px;
  border-radius: 33px;
  background-color: #c4c4c4;
}
.ellipse34 {
  position: absolute;
  left: 278px;
  top: 2.1062px;
  width: 36px;
  height: 36px;
  overflow: visible;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.ellipse35 {
  position: absolute;
  left: 323px;
  top: 2.1062px;
  width: 36px;
  height: 36px;
  overflow: visible;
}
.icon6 {
  width: 100%;
  height: 100%;
}
._4500Apparel {
  color: #333;
  font-size: 14px;
  line-height: 106%;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 15.7545px;
  top: 14.3927px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.new {
  color: #555;
  font-size: 13px;
  line-height: 106%;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 212.7814px;
  top: 12.2285px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
