.close.close {
  left: 16px;
  top: 10px;
}
.icon {
  width: 100%;
  height: 100%;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.cart.cart {
  position: absolute;
  left: 16px;
  top: 86.8806px;
}
.rectangle344.rectangle344 {
  background-image:/* webpackIgnore: true */ url('/assets/rectangle3442.png');
}
.group212.group212 {
  position: initial;
}
.group214.group214 {
  position: absolute;
  left: 16px;
  top: 236.8806px;
}
.rectangle3442.rectangle3442 {
  background-image:/* webpackIgnore: true */ url('/assets/rectangle3443.png');
}
.frame27.frame27 {
  left: 36.6%;
  right: 1.8238%;
}
.lamerei {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.recycleBoucleKnitCardiganPink {
  color: #555;
  font-size: 12px;
  line-height: 18px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.group2122.group2122 {
  position: initial;
}
.button.button {
  left: 0;
  top: 584px;
}
.content.content {
  left: 32.9333%;
  right: 32.9333%;
}
.checkout {
  color: #fcfcfc;
  font-size: 16px;
  line-height: 26px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.root {
  position: relative;
  width: 375px;
  height: 640px;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
}
.cART {
  color: #333;
  font-size: 18px;
  line-height: 40px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 4px;
  text-transform: uppercase;
  position: absolute;
  left: 17px;
  top: 42px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.subTotal {
  color: #333;
  font-size: 14px;
  line-height: 20px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: absolute;
  left: 16px;
  top: 465px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._240 {
  color: #dd8560;
  font-size: 16px;
  line-height: 34.5px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  position: absolute;
  left: 313px;
  top: 459.0217px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.line19 {
  opacity: 0.2;
  position: absolute;
  left: 16px;
  top: 449.3386px;
  width: 343px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  border-bottom: solid 1px #000;
  margin-bottom: -1px;
}
.ShippingChargesTaxesAndDiscoun {
  position: absolute;
  left: 16px;
  top: 500.9341px;
  width: 308.3706px;
  height: 71.0064px;
  flex-direction: column;
}
.textBlock {
  color: #888;
  font-size: 14px;
  line-height: 24px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock2 {
  color: #888;
  font-size: 14px;
  line-height: 24px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
