.header.header {
  background-color: #e7eaef;
}
.rectangle331.rectangle331 {
  background-color: #e7eaef;
}
.button.button {
  left: 110px;
  top: 673px;
}
.loadMore {
  color: #000;
  font-size: 16px;
  line-height: 24px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.forwardArrow.forwardArrow {
  width: 18px;
  height: 18px;
}
.icon {
  width: 100%;
  height: 100%;
}
.line7.line7 {
  top: 42.8148%;
}
.product6.product6 {
  left: 16px;
  top: 113px;
}
.rectangle325.rectangle325 {
  background-image:/* webpackIgnore: true */ url('/assets/rectangle3252.png');
}
.frame1.frame1 {
  top: 78.4144%;
  bottom: 0.0601%;
}
._21WNReversibleAngoraCardigan {
  color: #333;
  font-size: 12px;
  line-height: 16px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 148.8914px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.product4.product4 {
  left: 16px;
  top: 385px;
}
.rectangle3252.rectangle3252 {
  background-image:/* webpackIgnore: true */ url('/assets/rectangle3253.png');
}
.product3.product3 {
  left: 194px;
  top: 113px;
}
.rectangle3253.rectangle3253 {
  background-image:/* webpackIgnore: true */ url('/assets/rectangle3254.png');
}
.product5.product5 {
  left: 194px;
  top: 385px;
}
.rectangle3254.rectangle3254 {
  background-image:/* webpackIgnore: true */ url('/assets/rectangle3255.png');
}
.frame12.frame12 {
  top: 81.1051%;
  bottom: 2.7508%;
}
._21WNReversibleAngoraCardigan2 {
  color: #333;
  font-size: 12px;
  line-height: 18px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 148.8914px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.product.product {
  left: 281.3694px;
  top: 95.5823px;
}
.rectangle321.rectangle321 {
  background-image:/* webpackIgnore: true */ url('/assets/rectangle3212.png');
}
.harrisTweedThreeButtonJacket {
  color: #333;
  font-size: 16px;
  line-height: 24px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 232.3603px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.product2.product2 {
  left: 546.3694px;
  top: 95.5823px;
}
.rectangle3212.rectangle3212 {
  background-image:/* webpackIgnore: true */ url('/assets/rectangle3213.png');
}
.harrisTweedThreeButtonJacket2 {
  color: #333;
  font-size: 16px;
  line-height: 24px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 232.3603px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.product7.product7 {
  left: 811.3694px;
  top: 95.5823px;
}
.rectangle3213.rectangle3213 {
  background-image:/* webpackIgnore: true */ url('/assets/rectangle3214.png');
}
.harrisTweedThreeButtonJacket3 {
  color: #333;
  font-size: 16px;
  line-height: 24px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 232.3603px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.frame11.frame11 {
  left: 16px;
  top: 54px;
}
.frame8.frame8 {
  left: 16px;
  top: 94px;
}
._2021 {
  color: #333;
  font-size: 14px;
  line-height: 16px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.01em;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.frame9.frame9 {
  left: 93px;
  top: 94px;
}
._20212 {
  color: #333;
  font-size: 14px;
  line-height: 16px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.01em;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.frame5.frame5 {
  left: 85px;
  top: 54px;
}
._20213 {
  color: #333;
  font-size: 14px;
  line-height: 16px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.01em;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.frame6.frame6 {
  left: 168px;
  top: 54px;
}
._20214 {
  color: #333;
  font-size: 14px;
  line-height: 16px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.01em;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.frame7.frame7 {
  left: 276px;
  top: 54px;
}
._20215 {
  color: #333;
  font-size: 14px;
  line-height: 16px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.01em;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.frame10.frame10 {
  left: 251px;
  top: 94px;
}
._20216 {
  color: #333;
  font-size: 14px;
  line-height: 16px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.01em;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.logo.logo {
  position: absolute;
  left: 134.3938px;
  top: 28px;
}
.frame47.frame47 {
  left: 194px;
  top: 225px;
}
.Mia {
  color: #fff;
  font-size: 14px;
  line-height: 106%;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 1px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.frame48.frame48 {
  top: 403px;
}
.frame49.frame49 {
  left: 194px;
  top: 404px;
}
.Mia2 {
  color: #fff;
  font-size: 14px;
  line-height: 106%;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 1px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.root {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 27px;
  background-color: #fcfcfc;
  overflow: hidden;
}
.banner {
  position: relative;
  width: 375px;
  height: 600px;
  align-items: flex-start;
  overflow: hidden;
}
.image10 {
  position: absolute;
  left: -77px;
  top: -17px;
  width: 556px;
  height: 620px;
  background-image:/* webpackIgnore: true */ url('/assets/image10.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.luxury {
  opacity: 0.7;
  color: #333;
  font-size: 38.6564px;
  line-height: 43.4885px;
  font-weight: bold;
  font-style: italic;
  font-family: Bodoni Moda 28pt, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 1.208px;
  text-transform: uppercase;
  position: absolute;
  left: 42.8378px;
  top: 231.4375px;
  width: 175.1619px;
  height: 43.4885px;
  flex-direction: column;
}
.unnamed {
  opacity: 0.7;
  color: #333;
  font-size: 30.5936px;
  line-height: 34.4178px;
  font-weight: bold;
  font-style: italic;
  font-family: Bodoni Moda 28pt, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 36.7077px;
  top: 317.2379px;
  width: 25.8134px;
  height: 34.4178px;
  flex-direction: column;
}
.rectangle327 {
  transform-origin: top left;
  position: absolute;
  left: 171.5px;
  top: 573.8165px;
  width: 5.6569px;
  height: 5.6569px;
  background-color: #fcfcfc;
  transform: matrix(0.7071, 0.7071, -0.7071, 0.7071, 0, 0);
}
.rectangle329 {
  transform-origin: top left;
  position: absolute;
  left: 203.5px;
  top: 573.8165px;
  width: 5.6569px;
  height: 5.6569px;
  outline: solid 0.5px #fcfcfc;
  outline-offset: 0px;
  transform: matrix(0.7071, 0.7071, -0.7071, 0.7071, 0, 0);
}
.rectangle328 {
  transform-origin: top left;
  position: absolute;
  left: 187.5px;
  top: 573.8165px;
  width: 5.6569px;
  height: 5.6569px;
  outline: solid 0.5px #fcfcfc;
  outline-offset: 0px;
  transform: matrix(0.7071, 0.7071, -0.7071, 0.7071, 0, 0);
}
.fashion {
  opacity: 0.7;
  color: #333;
  font-size: 38.6564px;
  line-height: 43.4885px;
  font-weight: bold;
  font-style: italic;
  font-family: Bodoni Moda 28pt, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 1.208px;
  text-transform: uppercase;
  position: absolute;
  left: 60.3697px;
  top: 269.6423px;
  width: 187.242px;
  height: 43.4885px;
  flex-direction: column;
}
.accessories {
  opacity: 0.7;
  color: #333;
  font-size: 38.6564px;
  line-height: 43.4885px;
  font-weight: bold;
  font-style: italic;
  font-family: Bodoni Moda 28pt, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 1.208px;
  text-transform: uppercase;
  position: absolute;
  left: 65.2437px;
  top: 309.0161px;
  width: 287.5071px;
  height: 43.4885px;
  flex-direction: column;
}
.button2 {
  position: absolute;
  left: 61px;
  top: 520px;
  width: min-content;
  height: min-content;
  place-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px 30px;
  border-radius: 30px;
  background-color: #0006;
  backdrop-filter: blur(2px);
}
.exploreCollection {
  color: #fcfcfc;
  font-size: 16px;
  line-height: 24px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.newArrival {
  position: relative;
  width: 375px;
  height: 736px;
  align-items: flex-start;
  overflow: hidden;
}
.title {
  position: absolute;
  left: 0;
  top: 8px;
  width: 375px;
  height: 50px;
  align-items: flex-start;
}
.newArrival2 {
  color: #000;
  font-size: 18px;
  line-height: 40px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 4px;
  text-transform: uppercase;
  position: absolute;
  left: 75.2459px;
  top: 0.4241px;
  width: 225.5081px;
  height: 32.5759px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
._3 {
  position: absolute;
  left: 125.5206px;
  top: 33px;
  width: 124.9588px;
  height: 9.2543px;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.tab {
  position: absolute;
  left: 0;
  top: 64px;
  width: 375px;
  height: 36px;
  align-items: flex-start;
}
.all {
  color: #212806;
  font-size: 14px;
  line-height: 106%;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 1px;
  position: absolute;
  left: 42.4503px;
  top: 9.0454px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.apparel {
  opacity: 0.8;
  color: #888;
  font-size: 14px;
  line-height: 106%;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 1px;
  position: absolute;
  left: 89.4503px;
  top: 10.3254px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.dress {
  opacity: 0.8;
  color: #888;
  font-size: 14px;
  line-height: 106%;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 1px;
  position: absolute;
  left: 174.4503px;
  top: 9.6855px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.tshirt {
  opacity: 0.8;
  color: #888;
  font-size: 14px;
  line-height: 106%;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 1px;
  position: absolute;
  left: 242.4503px;
  top: 9.6855px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.bag {
  opacity: 0.8;
  color: #888;
  font-size: 14px;
  line-height: 106%;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 1px;
  position: absolute;
  left: 306.5497px;
  top: 9.6855px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle3272 {
  transform-origin: top left;
  position: absolute;
  left: 52.0392px;
  top: 26.4777px;
  width: 4px;
  height: 4px;
  background-color: #dd8560;
  transform: matrix(0.7071, 0.7071, -0.7071, 0.7071, 0, 0);
}
.brand {
  width: 375px;
  height: 180px;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.collection {
  position: relative;
  width: 375px;
  height: 640px;
  align-items: flex-start;
}
.collections {
  color: #000;
  font-size: 18px;
  line-height: 40px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 4px;
  text-transform: uppercase;
  position: absolute;
  left: 93px;
  top: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame2 {
  position: absolute;
  left: 0;
  top: 56px;
  width: 375px;
  height: 240px;
  align-items: flex-start;
  overflow: hidden;
}
.image12 {
  position: absolute;
  left: -59.4696px;
  top: -0.2446px;
  width: 437.6201px;
  height: 244.7864px;
  background-image:/* webpackIgnore: true */ url('/assets/image12.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
._10 {
  opacity: 0.5;
  color: #333;
  font-size: 162.7035px;
  line-height: 244.0553px;
  font-weight: 800;
  font-style: italic;
  font-family: Bodoni Moda 28pt, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -31.5px;
  position: absolute;
  left: 187.9318px;
  top: 22.4912px;
  width: 216.3717px;
  height: 244.3688px;
  flex-direction: column;
}
.october {
  color: #fcfcfc;
  font-size: 41.8646px;
  line-height: 62.7969px;
  font-weight: bold;
  font-style: italic;
  font-family: Bodoni Moda 28pt, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 212.2134px;
  top: 99.2778px;
  width: 172.5192px;
  height: 62.8776px;
  flex-direction: column;
}
.collection2 {
  color: #fcfcfc;
  font-size: 12.9294px;
  line-height: 29.0911px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 6.0606px;
  text-transform: uppercase;
  position: absolute;
  left: 210.5263px;
  top: 143.1176px;
  width: 145.5852px;
  height: 29.117px;
  flex-direction: column;
}
.image9 {
  position: absolute;
  left: 57.5px;
  top: 336px;
  width: 260px;
  height: 296px;
  background-image:/* webpackIgnore: true */ url('/assets/image9.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.autumn {
  opacity: 0.8;
  color: #333;
  font-size: 41.8646px;
  line-height: 62.7969px;
  font-weight: bold;
  font-style: italic;
  font-family: Bodoni Moda 28pt, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -1px;
  position: absolute;
  left: 143.3254px;
  top: 368.6725px;
  width: 172.5192px;
  height: 62.8776px;
  flex-direction: column;
}
.collection3 {
  color: #333;
  font-size: 11.3221px;
  line-height: 25.4746px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 5.3072px;
  text-transform: uppercase;
  position: absolute;
  left: 160.4018px;
  top: 413.8221px;
  width: 127.4868px;
  height: 25.4974px;
  flex-direction: column;
}
.video {
  position: relative;
  width: 375px;
  height: 176px;
  align-items: flex-start;
}
.image122 {
  position: absolute;
  left: -2.511px;
  top: 0px;
  width: 395.0057px;
  height: 175.9575px;
  background-image:/* webpackIgnore: true */ url('/assets/image122.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rectangle341 {
  opacity: 0.1;
  position: absolute;
  left: 0.2022px;
  top: 0;
  width: 376.2613px;
  height: 176.1109px;
  background-color: #000;
}
.group11 {
  position: absolute;
  left: 178.3578px;
  top: 75.8359px;
  width: 33.2682px;
  height: 33.2682px;
  overflow: visible;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.product8 {
  position: relative;
  width: 375px;
  height: 531px;
  align-items: flex-start;
  overflow-x: auto;
  overflow-y: hidden;
}
.rectangle3273 {
  transform-origin: top left;
  position: absolute;
  left: 174.4008px;
  top: 502.8789px;
  width: 5.6569px;
  height: 5.6569px;
  background-color: #888;
  transform: matrix(0.7071, 0.7071, -0.7071, 0.7071, 0, 0);
}
.rectangle3292 {
  transform-origin: top left;
  position: absolute;
  left: 200.5991px;
  top: 502.8789px;
  width: 5.6569px;
  height: 5.6569px;
  outline: solid 0.5px #888;
  outline-offset: 0px;
  transform: matrix(0.7071, 0.7071, -0.7071, 0.7071, 0, 0);
}
.rectangle3282 {
  transform-origin: top left;
  position: absolute;
  left: 187.5px;
  top: 502.8789px;
  width: 5.6569px;
  height: 5.6569px;
  outline: solid 0.5px #888;
  outline-offset: 0px;
  transform: matrix(0.7071, 0.7071, -0.7071, 0.7071, 0, 0);
}
.titile {
  position: absolute;
  left: 0;
  top: 23px;
  width: 374px;
  height: 50px;
  align-items: flex-start;
}
._9 {
  position: absolute;
  left: 125.0206px;
  top: 40px;
  width: 124.9588px;
  height: 9.2543px;
  overflow: visible;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.justForYou {
  color: #000;
  font-size: 18px;
  line-height: 40px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 4px;
  text-transform: uppercase;
  position: absolute;
  left: 96.5px;
  top: 0;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.trending {
  position: relative;
  width: 375px;
  height: 140px;
  align-items: flex-start;
}
.Trending {
  color: #000;
  font-size: 18px;
  line-height: 40px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 4px;
  text-transform: uppercase;
  position: absolute;
  left: 111px;
  top: 6px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.openfashion {
  position: relative;
  width: 375px;
  height: 465px;
  align-items: flex-start;
}
.rectangle342 {
  opacity: 0.5;
  position: absolute;
  left: 0.4926px;
  top: 0.4424px;
  width: 376.9089px;
  height: 465px;
  background-color: #f2f2f2;
}
.makingALuxuriousLifestyleAcces {
  color: #555;
  font-size: 14px;
  line-height: 20px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.01em;
  position: absolute;
  left: 44.9789px;
  top: 84.1731px;
  width: 285.0423px;
  height: 65.6287px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.fastShippingFreeOnOrdersOver25 {
  color: #555;
  font-size: 13px;
  line-height: 20px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 16px;
  top: 224.4792px;
  width: 165px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.miroodlesSticker {
  position: absolute;
  left: 75.5475px;
  top: 177.6px;
  width: 49.7698px;
  height: 34.9146px;
  background-image:/* webpackIgnore: true */ url('/assets/miroodlesSticker.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.sustainableProcessFromStartToF {
  position: absolute;
  left: 214.8892px;
  top: 228.3959px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.textBlock {
  color: #555;
  font-size: 13px;
  line-height: 20px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock2 {
  margin-top: 0;
  color: #555;
  font-size: 13px;
  line-height: 20px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.miroodlesSticker2 {
  position: absolute;
  left: 246.8497px;
  top: 182.7016px;
  width: 52.453px;
  height: 36.7969px;
  background-image:/* webpackIgnore: true */ url('/assets/miroodlesSticker2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.unnamed2 {
  position: absolute;
  left: 155.3709px;
  top: 397.4904px;
  width: 66.5232px;
  height: 39.5561px;
  overflow: visible;
}
.icon6 {
  width: 100%;
  height: 100%;
}
._5 {
  position: absolute;
  left: 122.5206px;
  top: 154.7456px;
  width: 124.9588px;
  height: 9.2543px;
  overflow: visible;
}
.icon7 {
  width: 100%;
  height: 100%;
}
.uniqueDesignsAndHighQualityMat {
  position: absolute;
  left: 16.2979px;
  top: 324.3161px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.textBlock3 {
  color: #555;
  font-size: 13px;
  line-height: 20px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock4 {
  margin-top: 0;
  color: #555;
  font-size: 13px;
  line-height: 20px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.miroodlesSticker3 {
  position: absolute;
  left: 71.8698px;
  top: 282.5136px;
  width: 54.3527px;
  height: 38.1295px;
  background-image:/* webpackIgnore: true */ url('/assets/miroodlesSticker3.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.fastShippingFreeOnOrdersOver252 {
  position: absolute;
  left: 199px;
  top: 324.3161px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.textBlock5 {
  color: #555;
  font-size: 13px;
  line-height: 20px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock6 {
  margin-top: 0;
  color: #555;
  font-size: 13px;
  line-height: 20px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.miroodlesSticker4 {
  position: absolute;
  left: 249.5719px;
  top: 282.5136px;
  width: 54.3527px;
  height: 38.1295px;
  background-image:/* webpackIgnore: true */ url('/assets/miroodlesSticker4.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.followUs {
  position: relative;
  width: 375px;
  height: 460px;
  align-items: flex-start;
}
.followUs2 {
  color: #000;
  font-size: 18px;
  line-height: 40px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 4px;
  text-transform: uppercase;
  position: absolute;
  left: 114.5px;
  top: 15.9714px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.instagram {
  position: absolute;
  left: 175.5px;
  top: 58px;
  width: 24px;
  height: 24px;
}
.icon8 {
  width: 100%;
  height: 100%;
}
.rectangle333 {
  position: absolute;
  left: 194px;
  top: 100px;
  width: 164px;
  height: 164px;
  background-image:/* webpackIgnore: true */ url('/assets/rectangle333.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rectangle332 {
  position: absolute;
  left: 16px;
  top: 100px;
  width: 164px;
  height: 164px;
  background-image:/* webpackIgnore: true */ url('/assets/rectangle332.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rectangle334 {
  position: absolute;
  left: 16px;
  top: 279px;
  width: 164px;
  height: 164px;
  background-image:/* webpackIgnore: true */ url('/assets/rectangle334.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rectangle335 {
  position: absolute;
  left: 194px;
  top: 279px;
  width: 164px;
  height: 164px;
  background-image:/* webpackIgnore: true */ url('/assets/rectangle335.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
