.root {
  position: relative;
  width: 24px;
  height: 24px;
  align-items: flex-start;
}
.call {
  position: absolute;
  left: -4.1667%;
  right: -7.7977%;
  top: -4.1667%;
  bottom: -7.7976%;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
