.footer.footer {
  position: absolute;
  left: 0;
  top: 2631px;
}
.frame21.frame21 {
  left: 17px;
  top: 80px;
}
.rectangle344.rectangle344 {
  background-image:/* webpackIgnore: true */ url('/assets/rectangle3442.png');
}
.frame23.frame23 {
  left: 17px;
  top: 384px;
}
.rectangle3442.rectangle3442 {
  background-image:/* webpackIgnore: true */ url('/assets/rectangle3443.png');
}
.frame24.frame24 {
  left: 194px;
  top: 384px;
}
.rectangle3443.rectangle3443 {
  background-image:/* webpackIgnore: true */ url('/assets/rectangle3444.png');
}
.frame22.frame22 {
  left: 194px;
  top: 80px;
}
.rectangle3444.rectangle3444 {
  background-image:/* webpackIgnore: true */ url('/assets/rectangle3445.png');
}
.tag.tag {
  opacity: 0.5;
  left: 0;
  top: 2px;
  width: 20px;
  height: 20px;
}
.icon {
  width: 100%;
  height: 100%;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.forward.forward {
  opacity: 0.5;
  transform-origin: top left;
  left: 340px;
  top: 0px;
  transform: matrix(0, 1, -1, 0, 0, 0);
}
.refresh.refresh {
  opacity: 0.5;
  left: 0;
  top: 2px;
  width: 20px;
  height: 20px;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.icon6 {
  width: 100%;
  height: 100%;
}
.forward2.forward2 {
  opacity: 0.5;
  transform-origin: top left;
  left: 339px;
  top: 0px;
  transform: matrix(0, 1, -1, 0, 0, 0);
}
.forward3.forward3 {
  opacity: 0.5;
  transform-origin: top left;
  left: 317px;
  top: 24.938px;
  transform: matrix(0, -1, 1, 0, 0, 0);
}
.button.button {
  left: 0;
  top: 740.5214px;
}
.group199.group199 {
  left: 82.2175px;
  top: 99.8347px;
}
.icon7 {
  width: 100%;
  height: 100%;
}
.s {
  color: #f9f9f9;
  font-size: 10px;
  line-height: 12px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 35.4167%;
  right: 39.5833%;
  top: 25.764%;
  bottom: 24.236%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.group201.group201 {
  left: 112.2177px;
  top: 99.8347px;
}
.icon8 {
  width: 100%;
  height: 100%;
}
.s2 {
  color: #555;
  font-size: 10px;
  line-height: 12px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 35.4167%;
  right: 39.5833%;
  top: 25.764%;
  bottom: 24.236%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.group202.group202 {
  left: 142.2178px;
  top: 99.8347px;
}
.icon9 {
  width: 100%;
  height: 100%;
}
.s3 {
  color: #555;
  font-size: 10px;
  line-height: 12px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 35.4167%;
  right: 39.5833%;
  top: 25.764%;
  bottom: 24.236%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.group203.group203 {
  left: 172.2178px;
  top: 99.8347px;
}
.icon10 {
  width: 100%;
  height: 100%;
}
.s4 {
  color: #555;
  font-size: 10px;
  line-height: 12px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 27.0833%;
  right: 31.25%;
  top: 25.764%;
  bottom: 24.236%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.group204.group204 {
  left: 202.2178px;
  top: 99.8347px;
}
.icon11 {
  width: 100%;
  height: 100%;
}
.s5 {
  color: #555;
  font-size: 10px;
  line-height: 12px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 35.4167%;
  right: 35.4167%;
  top: 25.764%;
  bottom: 24.236%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.export.export {
  left: 95.3419%;
  right: 0;
  top: 0;
  bottom: 28.9444%;
  width: 16px;
  height: 16px;
}
.icon12 {
  width: 100%;
  height: 100%;
}
.line7.line7 {
  top: -2.0833%;
  border-bottom: solid 1px #333;
}
.icon13 {
  width: 100%;
  height: 100%;
}
.resize.resize {
  left: 315.813px;
  top: 299.8316px;
}
.icon14 {
  width: 100%;
  height: 100%;
}
.icon15 {
  width: 100%;
  height: 100%;
}
.header.header {
  position: absolute;
  left: 0;
  top: 0;
}
.rectangle331.rectangle331 {
  background-color: #fff;
}
.root {
  position: relative;
  width: 375px;
  height: 2971px;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
}
.relatedProduct {
  position: absolute;
  left: -1px;
  top: 1915px;
  width: 375px;
  height: 700px;
  align-items: flex-start;
}
.title {
  position: absolute;
  left: 0;
  top: 0;
  width: 375px;
  height: 49px;
  align-items: flex-start;
}
.youMayAlsoLike {
  color: #000;
  font-size: 18px;
  line-height: 40px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 4px;
  text-transform: uppercase;
  position: absolute;
  left: 53.1716px;
  top: -0.4423px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._10 {
  position: absolute;
  left: 119.6921px;
  top: 40.0525px;
  width: 124.9588px;
  height: 9.2543px;
  overflow: visible;
}
.icon16 {
  width: 100%;
  height: 100%;
}
.service {
  position: absolute;
  left: 0;
  top: 1671px;
  width: 375px;
  height: 220px;
  align-items: flex-start;
}
.line16 {
  opacity: 0.2;
  position: absolute;
  left: 52.9374px;
  top: 133.4353px;
  width: 306.0627px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  border-bottom: solid 1px #555;
  margin-bottom: -1px;
}
.line17 {
  opacity: 0.2;
  position: absolute;
  left: 52.9374px;
  top: 171.6748px;
  width: 306.0627px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  border-bottom: solid 1px #555;
  margin-bottom: -1px;
}
.frame54 {
  position: absolute;
  left: 19px;
  top: 141.3535px;
  width: 340px;
  height: 24px;
  align-items: flex-start;
}
.cODPolicy {
  color: #000;
  font-size: 12px;
  line-height: 24px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.01em;
  position: absolute;
  left: 33.5328px;
  top: 0px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame55 {
  position: absolute;
  left: 20px;
  top: 183.3535px;
  width: 339px;
  height: 24px;
  align-items: flex-start;
}
.returnPolicy {
  color: #000;
  font-size: 12px;
  line-height: 24px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.01em;
  position: absolute;
  left: 32.5328px;
  top: 0px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.cARE {
  color: #000;
  font-size: 14px;
  line-height: 24px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.01em;
  position: absolute;
  left: 20.4227px;
  top: 17px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame53 {
  position: absolute;
  left: 18px;
  top: 58.3535px;
  width: 341px;
  height: 74.0797px;
  align-items: flex-start;
}
.freeFlatRateShipping {
  color: #000;
  font-size: 14px;
  line-height: 24px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.01em;
  position: absolute;
  left: 34.5328px;
  top: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.estimatedToBeDeliveredOn911202 {
  position: absolute;
  left: 34.5328px;
  top: 25.8066px;
  width: 259.9971px;
  height: 48.2731px;
  flex-direction: column;
}
.textBlock {
  color: #555;
  font-size: 14px;
  line-height: 18px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock2 {
  margin-top: 0;
  color: #555;
  font-size: 14px;
  line-height: 18px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock3 {
  margin-top: 0;
  color: #555;
  font-size: 14px;
  line-height: 18px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.gallery {
  position: absolute;
  left: 0;
  top: 826px;
  width: 375px;
  height: 834px;
  align-items: flex-start;
}
.gallery2 {
  color: #000;
  font-size: 14px;
  line-height: 24px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  position: absolute;
  left: 20.4227px;
  top: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.image16 {
  position: absolute;
  left: 16px;
  top: 34.0742px;
  width: 343px;
  height: 167.7249px;
  background-image:/* webpackIgnore: true */ url('/assets/image16.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.image17 {
  position: absolute;
  left: 16px;
  top: 218.5973px;
  width: 343px;
  height: 343px;
  background-image:/* webpackIgnore: true */ url('/assets/image17.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.image18 {
  position: absolute;
  left: 16px;
  top: 576.907px;
  width: 343px;
  height: 257.25px;
  background-image:/* webpackIgnore: true */ url('/assets/image18.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.productVariaty {
  position: absolute;
  left: 0;
  top: 584px;
  width: 375px;
  height: 130px;
  align-items: flex-start;
}
.ringSize {
  color: #555;
  font-size: 12px;
  line-height: 14px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 16px;
  top: 105.0305px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame52 {
  position: absolute;
  left: 16px;
  top: 0;
  width: min-content;
  height: min-content;
  flex-direction: column;
  place-content: center;
  align-items: flex-start;
  gap: 8px;
}
.group261 {
  position: relative;
  width: 343.4844px;
  height: 22.5176px;
}
.mOHAN {
  color: #000;
  font-size: 16px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 4px;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  right: 74.9625%;
  top: 15.6215%;
  bottom: 0;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.recycleBoucleKnitCardiganPink {
  color: #555;
  font-size: 16px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
._120 {
  color: #dd8560;
  font-size: 18px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.iMG {
  position: absolute;
  left: 0;
  top: 80px;
  width: 375px;
  height: 440px;
  align-items: flex-start;
}
.image15 {
  position: absolute;
  left: 17px;
  top: -0.0924px;
  width: 342.9999px;
  height: 343px;
  background-image:/* webpackIgnore: true */ url('/assets/image15.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rectangle429 {
  position: absolute;
  left: 17px;
  top: 356.7348px;
  width: 77px;
  height: 77px;
  background-image:/* webpackIgnore: true */ url('/assets/rectangle429.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rectangle430 {
  position: absolute;
  left: 106px;
  top: 356.7348px;
  width: 77px;
  height: 77px;
  background-image:/* webpackIgnore: true */ url('/assets/rectangle430.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rectangle431 {
  position: absolute;
  left: 195px;
  top: 356.7348px;
  width: 77px;
  height: 77px;
  background-image:/* webpackIgnore: true */ url('/assets/rectangle431.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rectangle432 {
  position: absolute;
  left: 284px;
  top: 356.7348px;
  width: 77px;
  height: 77px;
  background-image:/* webpackIgnore: true */ url('/assets/rectangle432.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.line18 {
  position: absolute;
  left: 17px;
  top: 432.4205px;
  width: 77px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  border-bottom: solid 1px #dd8560;
  margin-bottom: -1px;
}
.rectangle327 {
  transform-origin: top left;
  position: absolute;
  left: 52.2435px;
  top: 432.8625px;
  width: 5.6569px;
  height: 5.6569px;
  background-color: #dd8560;
  transform: matrix(0.7071, -0.7071, 0.7071, 0.7071, 0, 0);
}
.group210 {
  position: absolute;
  left: 302.4844px;
  top: 376.4142px;
  width: 40px;
  height: 40px;
  overflow: visible;
}
.icon17 {
  width: 100%;
  height: 100%;
}
.ellipse37 {
  position: absolute;
  left: 309.8125px;
  top: 293.8316px;
  width: 36px;
  height: 36px;
  overflow: visible;
}
.icon18 {
  width: 100%;
  height: 100%;
}
