.root {
  position: absolute;
  left: 281px;
  top: 95px;
  width: 23.9991px;
  height: 24px;
  align-items: flex-start;
}
.arrow {
  position: absolute;
  left: 9.3815px;
  top: 0.0002px;
  width: 14.6339px;
  height: 14.6341px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.arrow2 {
  position: absolute;
  left: -0.0163px;
  top: 9.2705px;
  width: 14.7294px;
  height: 14.7298px;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
