.header.header {
  position: absolute;
  left: 0;
  top: 0;
}
.rectangle331.rectangle331 {
  background-color: #fff;
}
.forward.forward {
  left: 326px;
  top: 197.8418px;
  width: 20px;
  height: 20px;
}
.icon {
  width: 100%;
  height: 100%;
}
.forward2.forward2 {
  left: 326px;
  top: 299.7429px;
  width: 20px;
  height: 20px;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.cart.cart {
  position: absolute;
  left: 16px;
  top: 361.5208px;
}
.rectangle344.rectangle344 {
  background-image:/* webpackIgnore: true */ url('/assets/rectangle3442.png');
}
.group212.group212 {
  position: initial;
}
.frame35.frame35 {
  left: 14.3281px;
  top: 398px;
}
.frame36.frame36 {
  left: 154.9473px;
  top: 398px;
}
.close.close {
  left: 311px;
  top: 8px;
}
.button.button {
  left: 0;
  top: 741px;
}
.root {
  position: relative;
  width: 375px;
  height: 797px;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
}
.checkout {
  color: #000;
  font-size: 18px;
  line-height: 40px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 4px;
  text-transform: uppercase;
  position: absolute;
  left: 75.5779px;
  top: 93.7473px;
  width: 225.5081px;
  height: 32.5759px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
._3 {
  position: absolute;
  left: 125.8527px;
  top: 126.3233px;
  width: 124.9588px;
  height: 9.2543px;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
}
._221bBakerStMaryl {
  position: absolute;
  left: 9.1577%;
  right: 38.0423%;
  top: calc(50% - 192.6582px);
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(-50%);
}
.textBlock {
  color: #555;
  font-size: 14px;
  line-height: 22px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock2 {
  margin-top: 0;
  color: #555;
  font-size: 14px;
  line-height: 22px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
._221bBakerStMaryl2 {
  color: #555;
  font-size: 14px;
  line-height: 22px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 9.1577%;
  right: 66.3089%;
  top: calc(50% - 156.7882px);
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(-50%);
}
.cassieDonk {
  color: #1a1a1a;
  font-size: 18px;
  line-height: 16px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 9.1577%;
  right: 63.9089%;
  top: calc(50% - 229.5px);
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(-50%);
}
.masterCardEnding {
  color: #17181a;
  font-size: 14px;
  line-height: 16px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 25.8613%;
  right: 24.0054%;
  top: calc(50% - 90.7571px);
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(-50%);
}
.masterCard {
  position: absolute;
  left: 33.8956px;
  top: 292.351px;
  width: 52.1513px;
  height: 32.0001px;
  overflow: visible;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.line19 {
  opacity: 0.1;
  position: absolute;
  left: 16px;
  top: 274px;
  width: 343px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  border-bottom: solid 1px #000;
  margin-bottom: -1px;
}
.line20 {
  opacity: 0.1;
  position: absolute;
  left: 16px;
  top: 567.0562px;
  width: 343px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  border-bottom: solid 1px #000;
  margin-bottom: -1px;
}
.line21 {
  opacity: 0.1;
  position: absolute;
  left: 16px;
  top: 346.5793px;
  width: 343px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  border-bottom: solid 1px #000;
  margin-bottom: -1px;
}
.frame28 {
  position: absolute;
  left: 33px;
  top: 519.5208px;
  width: 315px;
  height: min-content;
  padding: 10px 10px 10px 20px;
  border-radius: 30px;
}
.addPromoCode {
  color: #333;
  font-size: 14px;
  line-height: 16px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.total {
  color: #333;
  font-size: 14px;
  line-height: 34.5px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  position: absolute;
  left: 16px;
  top: 683.7266px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._240 {
  color: #dd8560;
  font-size: 16px;
  line-height: 34.5px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  position: absolute;
  left: 313px;
  top: 683.7266px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.line22 {
  opacity: 0.1;
  position: absolute;
  left: 16px;
  top: 509.7606px;
  width: 343px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  border-bottom: solid 1px #000;
  margin-bottom: -1px;
}
.rectangle436 {
  opacity: 0.8;
  position: absolute;
  left: 0;
  top: -3px;
  width: 375px;
  height: 800px;
  background-color: #000;
}
.frame32 {
  position: absolute;
  left: 16px;
  top: 105px;
  width: 343px;
  height: 474.5245px;
  align-items: flex-start;
}
.rectangle437 {
  position: absolute;
  left: 0;
  top: 0;
  width: 343px;
  height: 474.5245px;
  background-color: #fff;
}
._5 {
  position: absolute;
  left: 109.0206px;
  top: 261px;
  width: 124.9588px;
  height: 9.2543px;
  overflow: visible;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.paymentSuccess {
  color: #000;
  font-size: 18px;
  line-height: 40px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 4px;
  text-transform: uppercase;
  position: absolute;
  left: 52.5px;
  top: 23.2248px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.yourPaymentWasSuccess {
  color: #333;
  font-size: 18px;
  line-height: 24px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 56.5px;
  top: 192.5067px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.rateYourPurchase {
  color: #333;
  font-size: 18px;
  line-height: 24px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 88.5px;
  top: 289.0098px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.paymentID {
  color: #555;
  font-size: 15px;
  line-height: 24px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 95.1968px;
  top: 218.476px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
._15263541 {
  color: #333;
  font-size: 15px;
  line-height: 24px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 186.8032px;
  top: 218.2681px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.vector {
  position: absolute;
  left: 43.2945%;
  right: 43.2945%;
  top: 22.6138%;
  bottom: 67.6923%;
  overflow: visible;
}
.icon6 {
  width: 100%;
  height: 100%;
}
.vector2 {
  position: absolute;
  left: 55.7783%;
  right: 39.3331%;
  top: 19.238%;
  bottom: 76.7752%;
  overflow: visible;
}
.icon7 {
  width: 100%;
  height: 100%;
}
.vector3 {
  position: absolute;
  left: 39.6002%;
  right: 57.4995%;
  top: 22.8956%;
  bottom: 74.7392%;
  overflow: visible;
}
.icon8 {
  width: 100%;
  height: 100%;
}
.happy {
  position: absolute;
  left: 149.3958px;
  top: 319.9165px;
  width: 40px;
  height: 40px;
}
.icon9 {
  width: 100%;
  height: 100%;
}
.inLove {
  position: absolute;
  left: 209.3958px;
  top: 319.9165px;
  width: 40px;
  height: 40px;
}
.icon10 {
  width: 100%;
  height: 100%;
}
.disappointed {
  position: absolute;
  left: 89.3958px;
  top: 319.9165px;
  width: 40px;
  height: 40px;
}
.icon11 {
  width: 100%;
  height: 100%;
}
