.footer.footer {
  position: absolute;
  left: 0;
  top: 1705px;
}
.component3.component3 {
  left: 16px;
  top: 146px;
}
.rectangle344.rectangle344 {
  background-image:/* webpackIgnore: true */ url('/assets/rectangle3442.png');
}
.component4.component4 {
  left: 16px;
  top: 292px;
}
.rectangle3442.rectangle3442 {
  background-image:/* webpackIgnore: true */ url('/assets/rectangle3443.png');
}
.component5.component5 {
  left: 16px;
  top: 438px;
}
.rectangle3443.rectangle3443 {
  background-image:/* webpackIgnore: true */ url('/assets/rectangle3444.png');
}
.component11.component11 {
  left: 16px;
  top: 1314px;
}
.rectangle3444.rectangle3444 {
  background-image:/* webpackIgnore: true */ url('/assets/rectangle3445.png');
}
.component6.component6 {
  left: 16px;
  top: 584px;
}
.rectangle3445.rectangle3445 {
  background-image:/* webpackIgnore: true */ url('/assets/rectangle3446.png');
}
.component10.component10 {
  left: 16px;
  top: 1168px;
}
.rectangle3446.rectangle3446 {
  background-image:/* webpackIgnore: true */ url('/assets/rectangle3447.png');
}
.component7.component7 {
  left: 16px;
  top: 730px;
}
.rectangle3447.rectangle3447 {
  background-image:/* webpackIgnore: true */ url('/assets/rectangle3448.png');
}
.component9.component9 {
  left: 16px;
  top: 1022px;
}
.rectangle3448.rectangle3448 {
  background-image:/* webpackIgnore: true */ url('/assets/rectangle3449.png');
}
.component8.component8 {
  left: 16px;
  top: 876px;
}
.rectangle3449.rectangle3449 {
  background-image:/* webpackIgnore: true */ url('/assets/rectangle34410.png');
}
.pageNumber.pageNumber {
  left: 66.9739px;
  top: 1499px;
}
.product.product {
  left: 16px;
  top: 0;
}
.rectangle34410.rectangle34410 {
  background-image:/* webpackIgnore: true */ url('/assets/rectangle34411.png');
}
.gridView.gridView {
  opacity: 0.5;
  left: 286px;
  top: 10.1062px;
  width: 20px;
  height: 20px;
}
.down.down {
  opacity: 0.5;
  left: 244.6799px;
  top: 11.1062px;
  width: 16.07px;
  height: 16.07px;
}
.polygon1.polygon1 {
  left: 4.0175px;
  top: 4.9016px;
  width: 8.035px;
  height: 6.2669px;
}
.polygon1 {
  left: 4.0175px;
  top: 4.9016px;
  width: 8.035px;
  height: 6.2669px;
}
.icon {
  width: 100%;
  height: 100%;
}
.filter.filter {
  opacity: 0.5;
  left: 331px;
  top: 12.1062px;
  width: 20px;
  height: 20px;
}
.componentsIconFilter.componentsIconFilter {
  width: 20px;
  height: 20px;
}
.componentsIconFilter {
  width: 20px;
  height: 20px;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.header.header {
  position: absolute;
  left: 0;
  top: 0;
}
.rectangle331.rectangle331 {
  background-color: #fff;
}
.root {
  position: relative;
  width: 375px;
  height: 2047px;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
}
.product2 {
  position: absolute;
  left: 0;
  top: 138px;
  width: 375px;
  height: 1560px;
  align-items: flex-start;
}
.filter2 {
  position: absolute;
  left: 0;
  top: 72px;
  width: 375px;
  height: 40px;
  align-items: flex-start;
  overflow: hidden;
}
.rectangle345 {
  opacity: 0.1;
  position: absolute;
  left: 197.2513px;
  top: 1.8938px;
  width: 72.7487px;
  height: 36px;
  border-radius: 33px;
  background-color: #c4c4c4;
}
.ellipse34 {
  position: absolute;
  left: 278px;
  top: 2.1062px;
  width: 36px;
  height: 36px;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.ellipse35 {
  position: absolute;
  left: 323px;
  top: 2.1062px;
  width: 36px;
  height: 36px;
  overflow: visible;
}
.icon4 {
  width: 100%;
  height: 100%;
}
._4500Apparel {
  color: #333;
  font-size: 14px;
  line-height: 106%;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 15.7545px;
  top: 14.3927px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.new {
  color: #555;
  font-size: 13px;
  line-height: 106%;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 212.7814px;
  top: 12.2285px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
