.header.header {
  position: absolute;
  left: 0;
  top: 0;
}
.icon {
  width: 100%;
  height: 100%;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.icon6 {
  width: 100%;
  height: 100%;
}
.icon7 {
  width: 100%;
  height: 100%;
}
.icon8 {
  width: 100%;
  height: 100%;
}
.footer.footer {
  position: absolute;
  left: 0;
  top: 2097px;
}
.frame21.frame21 {
  left: 16px;
  top: 583px;
}
.rectangle344.rectangle344 {
  background-image:/* webpackIgnore: true */ url('/assets/rectangle3442.png');
}
._21WN {
  color: #fcfcfc;
  font-size: 12px;
  line-height: 18px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 34px;
  height: 15px;
  flex-direction: column;
}
.reversibleAngoraCardigan {
  opacity: 0.5;
  color: #f9f9f9;
  font-size: 12px;
  line-height: 18px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 157.3896px;
  height: 14px;
  flex-direction: column;
}
.frame24.frame24 {
  left: 16px;
  top: 890.5px;
}
.rectangle3442.rectangle3442 {
  background-image:/* webpackIgnore: true */ url('/assets/rectangle3443.png');
}
._21WN2 {
  color: #fcfcfc;
  font-size: 12px;
  line-height: 18px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 34px;
  height: 15px;
  flex-direction: column;
}
.reversibleAngoraCardigan2 {
  opacity: 0.5;
  color: #f9f9f9;
  font-size: 12px;
  line-height: 18px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 157.3896px;
  height: 14px;
  flex-direction: column;
}
.frame26.frame26 {
  left: 16px;
  top: 1198px;
}
.rectangle3443.rectangle3443 {
  background-image:/* webpackIgnore: true */ url('/assets/rectangle3444.png');
}
._21WN3 {
  color: #fcfcfc;
  font-size: 12px;
  line-height: 18px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 34px;
  height: 15px;
  flex-direction: column;
}
.reversibleAngoraCardigan3 {
  opacity: 0.5;
  color: #f9f9f9;
  font-size: 12px;
  line-height: 18px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 157.3896px;
  height: 14px;
  flex-direction: column;
}
.frame25.frame25 {
  left: 193px;
  top: 890.5px;
}
.rectangle3444.rectangle3444 {
  background-image:/* webpackIgnore: true */ url('/assets/rectangle3445.png');
}
._21WN4 {
  color: #fcfcfc;
  font-size: 12px;
  line-height: 18px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 34px;
  height: 15px;
  flex-direction: column;
}
.reversibleAngoraCardigan4 {
  opacity: 0.5;
  color: #f9f9f9;
  font-size: 12px;
  line-height: 18px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 157.3896px;
  height: 14px;
  flex-direction: column;
}
.frame23.frame23 {
  left: 193px;
  top: 583px;
}
.rectangle3445.rectangle3445 {
  background-image:/* webpackIgnore: true */ url('/assets/rectangle3446.png');
}
._21WN5 {
  color: #fcfcfc;
  font-size: 12px;
  line-height: 18px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 34px;
  height: 15px;
  flex-direction: column;
}
.reversibleAngoraCardigan5 {
  opacity: 0.5;
  color: #f9f9f9;
  font-size: 12px;
  line-height: 18px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 157.3896px;
  height: 14px;
  flex-direction: column;
}
.frame27.frame27 {
  left: 193px;
  top: 1198px;
}
.rectangle3446.rectangle3446 {
  background-image:/* webpackIgnore: true */ url('/assets/rectangle3447.png');
}
._21WN6 {
  color: #fcfcfc;
  font-size: 12px;
  line-height: 18px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 34px;
  height: 15px;
  flex-direction: column;
}
.reversibleAngoraCardigan6 {
  opacity: 0.5;
  color: #f9f9f9;
  font-size: 12px;
  line-height: 18px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 157.3896px;
  height: 14px;
  flex-direction: column;
}
.root {
  position: relative;
  width: 375px;
  height: 2434px;
  align-items: flex-start;
  background-color: #111;
  overflow: hidden;
}
.frame59 {
  position: absolute;
  left: 0;
  top: 90px;
  width: 375px;
  height: 1482px;
  align-items: flex-start;
}
._10 {
  position: absolute;
  left: 90.9944px;
  top: -0.4259px;
  width: 173.6628px;
  height: 125.2817px;
  overflow: visible;
}
.icon9 {
  width: 100%;
  height: 100%;
}
.october {
  color: #fcfcfc;
  font-size: 41.8646px;
  line-height: 62.7969px;
  font-weight: bold;
  font-style: italic;
  font-family: Bodoni Moda 28pt, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 2px;
  position: absolute;
  left: 112.927px;
  top: 15.4796px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.collection {
  color: #fcfcfc;
  font-size: 12.9294px;
  line-height: 29.0911px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 6.0606px;
  text-transform: uppercase;
  position: absolute;
  left: 119.6089px;
  top: 62.8552px;
  width: 145.5852px;
  height: 29.117px;
  flex-direction: column;
}
.image20 {
  position: absolute;
  left: 16px;
  top: 98.1319px;
  width: 343px;
  height: 456.6188px;
  background-image:/* webpackIgnore: true */ url('/assets/image20.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
._11 {
  position: absolute;
  left: 153.1902px;
  top: 360.1816px;
  width: 243.3559px;
  height: 175.5589px;
  overflow: visible;
}
.icon10 {
  width: 100%;
  height: 100%;
}
.youMayAlsoLike {
  position: absolute;
  left: 0;
  top: 1617px;
  width: 375px;
  height: 416px;
  align-items: flex-start;
}
.titile {
  position: absolute;
  left: 0;
  top: 0;
  width: 375px;
  height: 50px;
  align-items: flex-start;
}
.youMayAlsoLike2 {
  color: #fcfcfc;
  font-size: 18px;
  line-height: 40px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 4px;
  text-transform: uppercase;
  position: absolute;
  left: 58.5px;
  top: -0.1488px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._12 {
  position: absolute;
  left: 125.0205px;
  top: 40.3462px;
  width: 124.9588px;
  height: 9.2543px;
  overflow: visible;
}
.icon11 {
  width: 100%;
  height: 100%;
}
.rectangle440 {
  position: absolute;
  left: 16px;
  top: 79.3296px;
  width: 254px;
  height: 300px;
  background-image:/* webpackIgnore: true */ url('/assets/rectangle440.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.blackCollection {
  color: #fcfcfc;
  font-size: 12.9294px;
  line-height: 29.0911px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: absolute;
  left: 15.7356px;
  top: 386.1206px;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle441 {
  position: absolute;
  left: 282px;
  top: 79.3296px;
  width: 254px;
  height: 300px;
  background-image:/* webpackIgnore: true */ url('/assets/rectangle441.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hAEBYHAEKIM {
  color: #fcfcfc;
  font-size: 12.9294px;
  line-height: 29.0911px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: absolute;
  left: 282px;
  top: 386.1206px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
