.component9.component9 {
  left: 0;
  right: 86.7249%;
  top: 0;
  bottom: 0;
  width: initial;
  height: initial;
}
.component10.component10 {
  left: 18.2533%;
  right: 68.4716%;
  top: 0;
  bottom: 0;
  width: initial;
  height: initial;
}
.rectangle424.rectangle424 {
  opacity: 0.1;
  background-color: #888;
}
._1 {
  color: #555;
  font-size: 16px;
  line-height: 24px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 37.5%;
  right: 34.375%;
  top: 14.8663%;
  bottom: 10.1337%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.component11.component11 {
  left: 36.5066%;
  right: 50.2183%;
  top: 0;
  bottom: 0;
  width: initial;
  height: initial;
}
.rectangle4242.rectangle4242 {
  opacity: 0.1;
  background-color: #888;
}
._12 {
  color: #555;
  font-size: 16px;
  line-height: 24px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 34.375%;
  right: 34.375%;
  top: 14.8663%;
  bottom: 10.1337%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.component12.component12 {
  left: 54.7599%;
  right: 31.965%;
  top: 0;
  bottom: 0;
  width: initial;
  height: initial;
}
.rectangle4243.rectangle4243 {
  opacity: 0.1;
  background-color: #888;
}
._13 {
  color: #555;
  font-size: 16px;
  line-height: 24px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 37.5%;
  right: 34.375%;
  top: 14.8663%;
  bottom: 10.1337%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.component13.component13 {
  left: 73.0132%;
  right: 13.7117%;
  top: 0;
  bottom: 0;
  width: initial;
  height: initial;
}
.rectangle4244.rectangle4244 {
  opacity: 0.1;
  background-color: #888;
}
._14 {
  color: #555;
  font-size: 16px;
  line-height: 24px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 34.375%;
  right: 34.375%;
  top: 14.8663%;
  bottom: 10.1337%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.forward.forward {
  left: 90.0437%;
  right: 0;
  top: 12.7731%;
  bottom: 12.2269%;
  width: initial;
  height: initial;
}
.root {
  position: absolute;
  left: 76.5126px;
  top: 1542.2207px;
  width: 241.0522px;
  height: 32px;
  align-items: flex-start;
}
