.root {
  position: absolute;
  left: 23px;
  top: 149px;
  width: 24px;
  height: 24px;
  align-items: flex-start;
}
.rectangle353 {
  position: absolute;
  left: 16.6677%;
  right: 54.1656%;
  top: 16.6667%;
  bottom: 54.1667%;
  outline: solid 1px #14142b;
  outline-offset: -1px;
}
.rectangle355 {
  position: absolute;
  left: 16.6677%;
  right: 54.1656%;
  top: 54.1667%;
  bottom: 16.6667%;
  outline: solid 1px #14142b;
  outline-offset: -1px;
}
.rectangle354 {
  position: absolute;
  left: 54.1677%;
  right: 16.6656%;
  top: 16.6667%;
  bottom: 54.1667%;
  outline: solid 1px #14142b;
  outline-offset: -1px;
}
.rectangle356 {
  position: absolute;
  left: 54.1677%;
  right: 16.6656%;
  top: 54.1667%;
  bottom: 16.6667%;
  outline: solid 1px #14142b;
  outline-offset: -1px;
}
