.shoppingBag.shoppingBag {
  width: 20px;
  height: 20px;
}
.icon {
  width: 100%;
  height: 100%;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.root {
  position: absolute;
  left: 890px;
  top: 368px;
  width: 375px;
  height: 56px;
  align-items: flex-start;
}
.bG {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000;
}
.content {
  position: absolute;
  left: 31.2%;
  right: 31.2%;
  top: 30.2051%;
  bottom: 23.3663%;
  width: min-content;
  height: min-content;
  place-content: center;
  align-items: center;
  gap: 24px;
}
.checkout {
  color: #fcfcfc;
  font-size: 16px;
  line-height: 26px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
