.header.header {
  position: absolute;
  left: 0;
  top: 0;
}
.rectangle331.rectangle331 {
  background-color: #fff;
}
.component15.component15 {
  top: 195px;
}
.rectangle433.rectangle433 {
  background-image:/* webpackIgnore: true */ url('/assets/rectangle4332.png');
}
._2021StyleGuideTheBiggestFallTr {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: absolute;
  left: 38.4903%;
  right: 0.7122%;
  top: 6.4797%;
  bottom: 52.2922%;
  flex-direction: column;
}
._4DaysAgo {
  color: #888;
  font-size: 12px;
  line-height: 20px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 39.0735%;
  right: 42.8478%;
  top: 86.664%;
  bottom: 0.4328%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.component18.component18 {
  top: 732px;
}
.rectangle4332.rectangle4332 {
  background-image:/* webpackIgnore: true */ url('/assets/rectangle4333.png');
}
._4DaysAgo2 {
  color: #888;
  font-size: 12px;
  line-height: 20px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 39.0735%;
  right: 43.7225%;
  top: 86.664%;
  bottom: 0.4328%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.component19.component19 {
  top: 911px;
}
.rectangle4333.rectangle4333 {
  background-image:/* webpackIgnore: true */ url('/assets/rectangle4334.png');
}
._2021StyleGuideTheBiggestFallTr2 {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: absolute;
  left: 38.4903%;
  right: 0.7122%;
  top: 6.4797%;
  bottom: 52.2922%;
  flex-direction: column;
}
._4DaysAgo3 {
  color: #888;
  font-size: 12px;
  line-height: 20px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 39.0735%;
  right: 43.7225%;
  top: 86.664%;
  bottom: 0.4328%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.component16.component16 {
  top: 374px;
}
.rectangle4334.rectangle4334 {
  background-image:/* webpackIgnore: true */ url('/assets/rectangle4335.png');
}
._2021StyleGuideTheBiggestFallTr3 {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: absolute;
  left: 38.4903%;
  right: 0.7122%;
  top: 6.4797%;
  bottom: 52.2922%;
  flex-direction: column;
}
._4DaysAgo4 {
  color: #888;
  font-size: 12px;
  line-height: 20px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 39.0735%;
  right: 44.5973%;
  top: 86.664%;
  bottom: 0.4328%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.component17.component17 {
  top: 553px;
}
.rectangle4335.rectangle4335 {
  background-image:/* webpackIgnore: true */ url('/assets/rectangle4336.png');
}
._2021StyleGuideTheBiggestFallTr4 {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: absolute;
  left: 38.4903%;
  right: 0.7122%;
  top: 6.4797%;
  bottom: 52.2922%;
  flex-direction: column;
}
._4DaysAgo5 {
  color: #888;
  font-size: 12px;
  line-height: 20px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 39.0735%;
  right: 43.1393%;
  top: 86.664%;
  bottom: 0.4328%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.footer.footer {
  position: absolute;
  left: 0;
  top: 1394px;
}
.tag.tag {
  left: 16px;
  top: 0;
}
._2021 {
  color: #333;
  font-size: 14px;
  line-height: 16px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.01em;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.frame5.frame5 {
  left: 101px;
  top: 0;
}
._20212 {
  color: #333;
  font-size: 14px;
  line-height: 16px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.01em;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.frame6.frame6 {
  left: 177px;
  top: 0;
}
._20213 {
  color: #333;
  font-size: 14px;
  line-height: 16px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.01em;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.frame7.frame7 {
  left: 250px;
  top: 0;
}
._20214 {
  color: #333;
  font-size: 14px;
  line-height: 16px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.01em;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.frame8.frame8 {
  left: 350px;
  top: 0;
}
._20215 {
  color: #333;
  font-size: 14px;
  line-height: 16px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.01em;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.button.button {
  left: 82px;
  top: 1313px;
}
.submit {
  color: #000;
  font-size: 16px;
  line-height: 24px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  z-index: 0;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.plus.plus {
  z-index: 0;
}
.icon {
  width: 100%;
  height: 100%;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.root {
  position: relative;
  width: 375px;
  height: 1734px;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
}
.frame44 {
  position: absolute;
  left: 0;
  top: 203px;
  width: 375px;
  height: 1082px;
  align-items: flex-start;
}
.title {
  position: absolute;
  left: 0;
  top: 89px;
  width: 375px;
  height: 50px;
  align-items: flex-start;
}
.blog {
  color: #000;
  font-size: 18px;
  line-height: 40px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 4px;
  text-transform: uppercase;
  position: absolute;
  left: 74.5779px;
  top: 0.4944px;
  width: 225.5081px;
  height: 32.5759px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
._3 {
  position: absolute;
  left: 124.8527px;
  top: 33.0703px;
  width: 124.9588px;
  height: 9.2543px;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.tag2 {
  position: absolute;
  left: 0;
  top: 159px;
  width: 375px;
  height: 32px;
  align-items: flex-start;
  overflow: hidden;
}
