.root {
  position: absolute;
  left: 432px;
  top: 0;
  width: 24px;
  height: 24px;
  align-items: flex-start;
}
.bookmark {
  position: absolute;
  left: 16.6667%;
  right: 16.6667%;
  top: 12.5%;
  bottom: 11.0453%;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
