.root {
  position: absolute;
  left: 232px;
  top: 258px;
  width: 165px;
  height: 260.1563px;
  align-items: flex-start;
}
.rectangle325 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 23.1231%;
  background-image:/* webpackIgnore: true */ url('/assets/rectangle325.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.frame1 {
  position: absolute;
  left: 4.2424%;
  right: 4.2424%;
  top: 77.6456%;
  bottom: -0.7087%;
  height: min-content;
  flex-direction: column;
  align-items: center;
}
._21WNReversibleAngoraCardigan {
  color: #333;
  font-size: 12px;
  line-height: 18px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 148.8914px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
._120 {
  color: #dd8560;
  font-size: 15px;
  line-height: 24px;
  font-family: Tenor Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
